version: '3.1'

services:
  db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD=example
      - POSTGRES_USER=tbriggs
    ports:
      - '5432:5432'

  app:
    build: .
    ports:
      - "5000:5000"